/* fonts style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Lato", sans-serif; */

*{
    margin: 0;
}

/* shared style */
body{
    font-family: "Lato", sans-serif;
}

.button{
    color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
padding: 20px 43px 20px 43px;
border-radius: 8px;
border: none;
background: rgb(229, 84, 115);
}


/* header style */
header{
    background: rgba(229, 84, 115, 0.1);
}

.header-container{
    display: flex;
    gap: 97px;
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-between;

}
.header-description{
    width: 58%;
    margin-top: 197px;
    margin-bottom: 147px;
}

.header-image{
    width: 42%;
}

.header-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 80px;
font-weight: 800;
line-height: 96px;
letter-spacing: 0%;
text-align: left;

}

.header-subtitle{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 32px;
margin-bottom: 32px;
margin-right: 74px;
}
.header-image{
    margin-top: 50px;
}
.header-image img{
    height: 100%;
    
}

/* featured section style */
.featured{
    margin-top: 178px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 178px;
}
.featured-title{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

.featured-subtitle{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
width: 50%;
margin: 0 auto;
margin-top: 24px;
margin-bottom: 48px;
}

.featured-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.featured-image{

    width: 464px;
height: 538px;

}

.featured-image-1{
    width: 310px;
    height: 428px; 
    border-radius: 300px 300px 0px 0px;

background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0px 75px;
}
.featured-image-2{
    width: 370px;
    height: 366px; 
    border-radius: 300px 300px 0px 0px;

background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}
.featured-image-3{
    width: 314px;
    height: 471px; 
    border-radius: 300px 300px 0px 0px;

background: rgba(71, 125, 17, 0.15); 
    padding: 64px 75px 0px;
}
.featured-image p{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: underline;
margin-top: 32px;

}


/* support section style */
.supports{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    background: rgba(39, 39, 39, 0.05);
    margin: 128px 220px;
    padding: 86px 150px;
    gap: 100px;
}
.support{
    text-align: center;
}

.supports p{
    color: rgba(39, 39, 39, 0.8);
font-family: Lato;
font-size: 24px;
font-weight: 600;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
margin-top: 28px ;
}



/* sales section style */

.sales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    border-radius: 8px;
    margin-bottom: 128px;
    background: rgba(229, 84, 115, 0.05);
}
.sales-contant{
    
    text-align: center;
    padding-left: 395px;
    width: 50%;
    
}
.sales-title{
    font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;

}
.sales-subtitle{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: 25px;
margin-bottom: 32px;
}
.sales-image{
    
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}
